<div class="form-wrapper">
  <div class="form-login col-md-4 col-md-offset-4">
    <h2>Zapomněli jste své heslo?</h2>
    
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
    
      <div class="form-inputs">
        <%= f.input :email, label: "Email", required: true, autofocus: true %>
      </div>
    
      <div class="form-actions">
        <%= f.button :submit, "Zaslat instrukce k resetování hesla" %>
      </div>
    <% end %>
    
    Přihlásit se
    Registrovat se
  </div>
</div>